{% trans_default_domain 'FOSUserBundle' %}

<div id="main" role="main">
    <div id="main-content-header">
        <div class="container">
            <div class="row">
                <div class='col-sm-12'>
                    <h1 class='title'>
                        Réeinitialisation du mot de passe
                        {#<small>Connectez-vous c'est plus vite</small>#}
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div id="main-content">

        <div class="container">
            <div class="row">
                {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}


                <label for="">Nouveau Mot de passe</label>
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></div>
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'nouveau mot de passe '}}) }}
                    {#<input type="text" class="form-control input-lg" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Votre e-mail" name="email" required>#}
                </div>

                <label for="">Vérification</label>
                <div class="input-group">
                    <div class="input-group-addon"><div class="glyphicon glyphicon-tag"></div></div>
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Retapez le mot de passe'}}) }}
                    {#<input type="text" class="form-control input-lg" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Votre e-mail" name="email" required>#}
                </div>

                {{ form_widget(form) }}
                <div>
                    <br>
                    <input type="submit" class="btn btn-default" value="{{ 'resetting.reset.submit'|trans }}" />
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
</div>
