{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
<div id="main" role="main">
    <div id="main-content-header">
        <div class="container">
            <div class="row">
                <div class='col-sm-12'>
                    <h1 class='title'>
                        Ajout de Machines
                        {#<small>Connectez-vous c'est plus vite</small>#}
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div id="main-content">

    <div class="container">
    <div class="row">
    {#{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-horizontal  ' } }) }}#}
        <form action="{{ path('adminMachines_create') }}" method="POST" {{ form_enctype(form) }}>
            {{ form(form) }}
        </form>


    </div>
    </div>
    </div>
    </div>


    <ul class="record_actions">
        <li>
            <a href="{{ path('adminMachines') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
{#{% block body -%}#}
    {#<div id="main" role="main">#}
        {#<div id="main-content-header">#}
            {#<div class="container">#}
                {#<div class="row">#}
                    {#<div class='col-sm-12'>#}
                        {#<h1 class='title'>#}
                           {#Ajout de Machines#}
                            {#&#123;&#35;<small>Connectez-vous c'est plus vite</small>&#35;&#125;#}
                        {#</h1>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div id="main-content">#}

            {#<div class="container">#}
                {#<div class="row">#}
                    {#&#123;&#35;{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-horizontal  ' } }) }}&#35;&#125;#}
                            {#{{ form_start(form, {'attr': { 'class': 'form-horizontal'  }}) }}#}

                    {#<center>#}
                        {#<label for="">Ajout d'une machine</label>#}
                    {#</center>#}
                        {#Nom de la machine#}
                        {#<div class="input-group">#}
                            {#{{ form_widget(form.nomM, {'attr': {'class': 'form-control', 'placeholder': 'entrez le nom de la machine'}}) }}#}
                        {#</div>#}
                        {#<br>#}
                        {#Info générale#}
                        {#<div class="input-group">#}
                            {#{{ form_widget(form.infogenerale, {'attr': {'class': 'form-control', 'placeholder': 'info génerale'}}) }}#}
                        {#</div><br>#}
                        {#la surface#}
                        {#<div class="input-group">#}
                            {#{{ form_widget(form.surface, {'attr': {'class': 'form-control', 'placeholder': 'entrer la surface'}}) }}#}
                        {#</div><br>#}
                         {#la résolution#}
                        {#<div class="input-group">#}
                            {#{{ form_widget(form.resolution, {'attr': {'class': 'form-control', 'placeholder': 'entrer la resolution'}}) }}#}
                        {#</div><br>#}
                        {#la précision de la machine#}
                        {#<div class="input-group">#}
                            {#{{ form_widget(form.precisionm, {'attr': {'class': 'form-control', 'placeholder': 'entrer la precision de la machine'}}) }}#}
                        {#</div><br>#}
                        {#logiciel utilisé#}
                        {#<div class="input-group">#}
                            {#{{ form_widget(form.logicielu, {'attr': {'class': 'form-control', 'placeholder': 'le logiciel utilisé'}}) }}#}
                        {#</div><br>#}
                        {#le logiciel utilisé#}
                        {#<div class="input-group">#}
                            {#{{ form_widget(form.formatfich, {'attr': {'class': 'form-control', 'placeholder': 'le format de la fiche'}}) }}#}
                        {#</div><br>#}
                        {#les materiaux#}
                        {#<div class="input-group">#}
                            {#{{ form_widget(form.materiauxu, {'attr': {'class': 'form-control', 'placeholder': 'les materiaux'}}) }}#}
                        {#</div><br>#}
                        {#la puissance#}
                        {#<div class="input-group">#}
                            {#{{ form_widget(form.puissance, {'attr': {'class': 'form-control', 'placeholder': 'la puissance'}}) }}#}
                        {#</div><br>#}
                        {#chemin image#}
                        {#<div class="input-group">#}
                            {#{{ form_widget(form.image.file, {'attr': {'class': 'form-control', 'placeholder': 'file'}}) }}#}
                        {#</div><br>#}
                        {#Name#}
                        {#<div class="input-group">#}
                            {#{{ form_widget(form.image.name, {'attr': {'class': 'form-control', 'placeholder': 'name'}}) }}#}
                        {#</div><br>#}

                        {#&#123;&#35;{{ form_widget(form.current_password, {'attr': {'class': 'form-control', 'placeholder': 'mot de passe actuel'}}) }}&#35;&#125;#}
                        {#&#123;&#35;<input type="text" class="form-control input-lg" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Votre e-mail" name="email" required>&#35;&#125;#}
                    {#</div>#}

                    {#{{ form_end(form) }}#}

                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#{% endblock %}#}




