{# src/AsnaBundle/Resources/view/enseignant/view.html.twig #}

{% extends "::admin.html.twig" %}

{% block title %}
  Lecture d'un enseignant - {{ parent() }}
{% endblock %}

{% block body %}
<center><h3>Liste des Enseignants</h3></center>
  <div class="well">
<table>
<tr><td>Nom</td><td>Nom</td><td>Prenom</td><td>Information</td>
<td>Email</td><td>NumTel</td></tr>
    {% for enseignant in listEnseignants %}
      <tr><td>
        <a href="{{ path('ens_view', {'id': enseignant.id}) }}">
          {{ enseignant.nom }}
        </a></td>
        <td> {{ enseignant.prenom }} </td>
        <td> {{ enseignant.info }} </td>
        <td> {{ enseignant.email }} </td>
        <td> {{ enseignant.numtel }} </td>

        <td><a href="{{ path('ens_delete', {'id': enseignant.id}) }}">Supprimer</a></td>
        <td><a href="{{ path('ens_edit', {'id': enseignant.id}) }}">Modifier</a></td>
        </tr>

    {% else %}
      <li>Pas (encore !) d'enseignants</li>
    {% endfor %}
</table>
  </div>

  {# On vérifie qu'une image soit bien associée à l'annonce
  {% if enseignant.image is not null %}
    <img src="{{ enseignant.image.url }}" alt="{{ enseignant.image.alt }}">
  {% endif %}

  <p>
    <a href="{{ path('ens_listview') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('ens_edit', {'id': enseignant.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier Enseignant
    </a>
  </p>
      #}
    <a href="{{ path('ens_add')}}" class="btn btn-default">
      <i class="glyphicon glyphicon"></i>
      Ajouter Enseignant
    </a>



{% endblock %}
