{# src/AsnaBundle/Resources/view/enseignant/view.html.twig #}

{% extends "::admin.html.twig" %}

{% block title %}
  Lecture d'un enseignant - {{ parent() }}
{% endblock %}

{% block body %}
  <div class="well">

    Nom :{{ enseignant.nom }}<br>
    Prenom  :{{ enseignant.prenom }}<br>
    Email  :{{ enseignant.email }}<br>
    Information :{{ enseignant.info }}<br>
    Num Téléphone  :{{ enseignant.numtel }}<br>
  </div>

  {# On vérifie qu'une image soit bien associée à l'annonce
  {% if enseignant.image is not null %}
    <img src="{{ enseignant.image.url }}" alt="{{ enseignant.image.alt }}">
  {% endif %}
#}
  <p>
    <a href="{{ path('ens_listview') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('ens_edit', {'id': enseignant.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier enseignant
    </a>
    <a href="{{ path('ens_delete', {'id': enseignant.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer enseignant
    </a>
  </p>

{% endblock %}
