{% extends "admin.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}
<center>
<div class='row'>
                    <div class='row portfolio-boxes'>
                        <div class='col-sm-4 col-xs-6 no-mb-t-xs portfolio-box'>
                            <a class='image-link' href='{{ path('platform_listview') }}'>
                                <i class='fa-icon-search'></i>
                                <img class="img-responsive img-rounded center-block" alt="Machines"
                                     width="262" height="262" src="{{asset('assets/images/demo/last_projects/fraiseuse.jpg')}}"/>
                            </a>

                            <h3 class='title'>Gestion des Machines</h3>

                            <p class='category'></p>
                        </div>
                        <div class='col-sm-4 col-xs-6 no-mb-t-xs portfolio-box'>
                            <a class='image-link' href='{{ path('admin_accueil') }}'>
                                <i class='fa-icon-link'></i>
                                <img class="img-responsive img-rounded center-block" alt="Malesuada" width="262"
                                     height="262" src="{{asset('assets/images/demo/last_projects/4.png')}}"/>
                            </a>

                            <h3 class='title'>Gestion d'Evénements</h3>

                            <p class='category'></p>
                        </div>
                        <div class='col-sm-4 col-xs-6 portfolio-box'>
                            <a href='{{ path('admin_accueil') }}'>
                                <div class='image-link'>
                                    <i class='fa-icon-search'></i>
                                    <img class="img-responsive img-rounded center-block" alt="Dictum vulputate"
                                         width="262" height="262" src="{{asset('assets/images/demo/last_projects/photographer.jpg')}}"/>
                                </div>
                                <h3 class='title'>Gestion des Enseignants</h3>

                                <p class='category'></p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
</center>
{% endblock %}
