{# src/AsnaBundle/Resources/view/machine/view.html.twig #}

{% extends "::admin.html.twig" %}

{% block title %}
  Lecture d'une machine - {{ parent() }}
{% endblock %}

{% block body %}
<center><h3>Liste des Machines</h3></center>
  <div class="well">
<table>
<tr><td>Nom</td><td>infogenerale</td><td>Surface</td><td>Résolution</td>
<td>Précision</td><td>Logiciel</td><td>Matériaux</td><td>Puissance</td></tr>
    {% for machine in listMachines %}
      <tr><td>
        <a href="{{ path('platform_view', {'id': machine.id}) }}">
          {{ machine.nomM }}
        </a></td>
        <td> {{ machine.surface }} </td>
        <td> {{ machine.resolution }} </td>
        <td> {{ machine.presicionm }} </td>
        <td> {{ machine.logicielu }} </td>
        <td> {{ machine.formatfich }} </td>
        <td> {{ machine.materiauxu }} </td>
        <td> {{ machine.puissance }} </td>
        <td><a href="{{ path('platform_delete', {'id': machine.id}) }}">Supprimer</a></td>
        <td><a href="{{ path('platform_view', {'id': machine.id}) }}">Modifier</a></td>
        </tr>

    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
</table>
  </div>

  {# On vérifie qu'une image soit bien associée à l'annonce
  {% if machine.image is not null %}
    <img src="{{ machine.image.url }}" alt="{{ machine.image.alt }}">
  {% endif %}

  <p>
    <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('oc_platform_edit', {'id': machine.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier Machine
    </a>
  </p>
      #}
    <a href="{{ path('platform_add')}}" class="btn btn-default">
      <i class="glyphicon glyphicon"></i>
      Ajouter Machine
    </a>



{% endblock %}
